# Imports (compatible for Python 2 and Python 3)

In [1]:
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

In [14]:
API_URL = 'https://fb55.carto.com:443/api/v2/sql?q='

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

In [33]:
#Showing the top 10 records
query = ''' SELECT * FROM fb55.citibike
            ORDER BY start_station_id ASC, tripduration ASC
            LIMIT 10
            ; '''
table = get_data(query)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9059,-73.993929,107,2015-02-03 10:10:00+00,2015-02-03 10:12:00+00,72,8998,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19039,Subscriber,1980,2
1,NaN,W 52 St & 11 Ave,NaN,40772,-73.993929,189,2015-02-07 10:40:00+00,2015-02-07 10:43:00+00,72,40759,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,18131,Subscriber,1959,2
2,NaN,W 52 St & 11 Ave,NaN,40770,-73.993929,229,2015-02-07 10:40:00+00,2015-02-07 10:44:00+00,72,40757,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19729,Subscriber,1995,1
3,NaN,W 52 St & 11 Ave,NaN,22002,-73.993929,248,2015-02-05 06:19:00+00,2015-02-05 06:24:00+00,72,21948,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,16879,Subscriber,1970,1
4,NaN,W 52 St & 11 Ave,NaN,43107,-73.993929,252,2015-02-07 15:43:00+00,2015-02-07 15:47:00+00,72,43099,40.767272,515,W 43 St & 10 Ave,40.760094,-73.994618,15277,Subscriber,1983,1
5,NaN,W 52 St & 11 Ave,NaN,32603,-73.993929,261,2015-02-06 08:58:00+00,2015-02-06 09:02:00+00,72,32566,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,18492,Subscriber,1971,1
6,NaN,W 52 St & 11 Ave,NaN,16015,-73.993929,276,2015-02-04 12:46:00+00,2015-02-04 12:51:00+00,72,15971,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,19216,Subscriber,1961,1
7,NaN,W 52 St & 11 Ave,NaN,41366,-73.993929,283,2015-02-07 12:10:00+00,2015-02-07 12:15:00+00,72,41355,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,21588,Subscriber,1974,1
8,NaN,W 52 St & 11 Ave,NaN,42084,-73.993929,288,2015-02-07 13:50:00+00,2015-02-07 13:54:00+00,72,42074,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,19124,Subscriber,1978,1
9,NaN,W 52 St & 11 Ave,NaN,2348,-73.993929,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,2282,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974,1

In [36]:
#showing the last 10 records
query = ''' SELECT * FROM fb55.citibike
            ORDER BY start_station_id DESC, tripduration DESC
            LIMIT 10
            ; '''
table = get_data(query)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,1576,-74.015756,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,1506,40.711512,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
1,NaN,South End Ave & Liberty St,NaN,8891,-74.015756,2139,2015-02-03 09:33:00+00,2015-02-03 10:09:00+00,3002,8831,40.711512,510,W 51 St & 6 Ave,40.760660,-73.980420,15552,Subscriber,1958.0,1
2,NaN,South End Ave & Liberty St,NaN,23568,-74.015756,2131,2015-02-05 08:42:00+00,2015-02-05 09:17:00+00,3002,23529,40.711512,359,E 47 St & Park Ave,40.755103,-73.974987,21473,Subscriber,1985.0,1
3,NaN,South End Ave & Liberty St,NaN,10232,-74.015756,1977,2015-02-03 16:04:00+00,2015-02-03 16:37:00+00,3002,10173,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15309,Subscriber,1969.0,1
4,NaN,South End Ave & Liberty St,NaN,27243,-74.015756,1977,2015-02-05 16:11:00+00,2015-02-05 16:44:00+00,3002,27203,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20069,Subscriber,1969.0,1
5,NaN,South End Ave & Liberty St,NaN,6846,-74.015756,1976,2015-02-02 09:21:00+00,2015-02-02 09:53:00+00,3002,6781,40.711512,494,W 26 St & 8 Ave,40.747348,-73.997236,19665,Subscriber,1959.0,1
6,NaN,South End Ave & Liberty St,NaN,44708,-74.015756,1920,2015-02-07 18:36:00+00,2015-02-07 19:08:00+00,3002,44703,40.711512,410,Suffolk St & Stanton St,40.720664,-73.985180,15443,Subscriber,1964.0,2
7,NaN,South End Ave & Liberty St,NaN,11648,-74.015756,1908,2015-02-03 18:54:00+00,2015-02-03 19:26:00+00,3002,11587,40.711512,279,Peck Slip & Front St,40.707873,-74.001670,19133,Subscriber,1996.0,1
8,NaN,South End Ave & Liberty St,NaN,1297,-74.015756,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,1228,40.711512,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
9,NaN,South End Ave & Liberty St,NaN,17637,-74.015756,1830,2015-02-04 16:33:00+00,2015-02-04 17:04:00+00,3002,17590,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20246,Subscriber,1969.0,1

In [24]:
#List all unique start_station_id values
query = ''' SELECT DISTINCT start_station_id FROM fb55.citibike
            ORDER BY start_station_id 
            ; '''
table = get_data(query)
table

     start_station_id  Unnamed: 1
0                  72         NaN
1                  79         NaN
2                  82         NaN
3                  83         NaN
4                 116         NaN
5                 119         NaN
6                 120         NaN
7                 127         NaN
8                 128         NaN
9                 137         NaN
10                143         NaN
11                144         NaN
12                146         NaN
13                147         NaN
14                150         NaN
15                151         NaN
16                152         NaN
17                153         NaN
18                157         NaN
19                160         NaN
20                161         NaN
21                164         NaN
22                167         NaN
23                168         NaN
24                173         NaN
25                174         NaN
26                195         NaN
27                212         NaN
28                216         NaN
29                217         NaN
..                ...         ...
297               525         NaN
298               526         NaN
299               527         NaN
300               528         NaN
301               529         NaN
302               530         NaN
303               531         NaN
304               532         NaN
305               533         NaN
306               534         NaN
307               537         NaN
308               538         NaN
309               539         NaN
310               545         NaN
311               546         NaN
312              2000         NaN
313              2001         NaN
314              2002         NaN
315              2004         NaN
316              2005         NaN
317              2006         NaN
318              2008         NaN
319              2009         NaN
320              2010         NaN
321              2012         NaN
322              2017         NaN
323              2021         NaN
324              2022         NaN
325              2023         NaN
326              3002         NaN

[327 rows x 2 columns]

In [27]:
#Number of Trips
query = ''' SELECT COUNT(cartodb_id) FROM fb55.citibike
            ; '''
table = get_data(query)
table

   count  Unnamed: 1
0  46200         NaN

In [46]:
#Average, minimum, and maximum trip duration 
query = ''' SELECT AVG(tripduration) as average, MIN(tripduration) as minimum, MAX(tripduration) as maximum FROM fb55.citibike
            
            ; '''
table = get_data(query)
table

      average  minimum  maximum
0  675.865823       60    43016

In [76]:
#Trips started on Feb-02-2015
query = ''' SELECT * FROM fb55.citibike
            WHERE starttime BETWEEN '2015-02-02 00:00:00+00' AND '2015-02-02 23:59:+00'
            ; '''
table = get_data(query)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 5 St & Avenue C,NaN,11,-73.979955,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,6920,40.722992,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
3,NaN,9 Ave & W 16 St,NaN,627,-74.004432,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,6477,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
4,NaN,9 Ave & W 16 St,NaN,991,-74.004432,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,6478,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2
5,NaN,W 33 St & 7 Ave,NaN,1037,-73.990931,498,2015-02-02 06:20:00+00,2015-02-02 06:28:00+00,492,6526,40.750200,493,W 45 St & 6 Ave,40.756800,-73.982912,16013,Subscriber,1962.0,2
6,NaN,W 27 St & 7 Ave,NaN,6510,-73.993915,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,6442,40.746647,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
7,NaN,E 11 St & 1 Ave,NaN,6511,-73.984267,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,6443,40.729538,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
8,NaN,Peck Slip & Front St,NaN,6512,-74.001670,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,6444,40.707873,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
9,NaN,E 16 St & 5 Ave,NaN,6513,-73.992390,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,6445,40.737262,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
10,NaN,W 41 St & 8 Ave,NaN,6514,-73.990026,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,6446,40.756405,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
11,NaN,Dean St & 4 Ave,NaN,6515,-73.978951,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,6447,40.683125,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
12,NaN,9 Ave & W 18 St,NaN,6516,-74.003664,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,6448,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
13,NaN,Reade St & Broadway,NaN,6517,-74.005628,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,6449,40.714505,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
14,NaN,8 Ave & W 31 St,NaN,6518,-73.994811,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,6450,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
15,NaN,1 Ave & E 15 St,NaN,6519,-73.981656,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,6451,40.732219,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
16,NaN,Broadway & E 14 St,NaN,6520,-73.990741,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,6452,40.734546,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
17,NaN,E 2 St & Avenue B,NaN,6521,-73.983688,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,6453,40.722174,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
18,NaN,Peck Slip & Front St,NaN,6522,-74.001670,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,6454,40.707873,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
19,NaN,Columbia St & Rivington St,NaN,6523,-73.980166,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,6455,40.717400,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
20,NaN,W 20 St & 8 Ave,NaN,6524,-74.000040,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,6456,40.743453,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
21,NaN,St Marks Pl & 2 Ave,NaN,6525,-73.987140,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,6457,40.728419,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
22,NaN,W 20 St & 8 Ave,NaN,6526,-74.000040,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,6458,40.743453,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
23,NaN,W 37 St & 5 Ave,NaN,6527,-73.983390,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,6459,40.750380,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
24,NaN,W 13 St & 6 Ave,NaN,6528,-73.997044,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,6460,40.736494,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
25,NaN,10 Ave & W 28 St,NaN,6529,-74.001768,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,6461,40.750664,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
26,NaN,E 25 St & 2 Ave,NaN,6530,-73.979738,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,6462,40.739126,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
27,NaN,W 4 St & 7 Ave S,NaN,6531,-74.002939,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,6463,40.734011,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
28,NaN,W 20 St & 7 Ave,NaN,6532,-73.997262,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,6464,40.742388,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
29,NaN,W 46 St & 11 Ave,NaN,6533,-73.996674,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,6465,40.763414,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,Allen St & E Houston St,NaN,7938,-73.989111,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,7871,40.722055,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,NaN,Broadway & W 29 St,NaN,7939,-73.988557,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,7872,40.746201,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,NaN,W 56 St & 6 Ave,NaN,7940,-73.977225,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,7873,40.763406,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,NaN,10 Ave & W 28 St,NaN,7941,-74.001768,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,7874,40.750664,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,NaN,W 26 St & 8 Ave,NaN,7942,-73.997236,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,7875,40.747348,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,NaN,Broadway & E 22 St,NaN,7943,-73.989551,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,7876,40.740343,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,NaN,E 47 St & 2 Ave,NaN,7944,-73.970325,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,7877,40.753231,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,NaN,Broadway & W 32 St,NaN,7945,-73.988084,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,7878,40.748549,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,NaN,8 Ave & W 31 St,NaN,7946,-73.994811,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,7879,40.750450,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,NaN,9 Ave & W 18 St,NaN,7947,-74.003664,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,7880,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,NaN,LaGuardia Pl & W 3 St,NaN,7948,-73.998102,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,7881,40.729170,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,NaN,W 26 St & 8 Ave,NaN,7949,-73.997236,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,7882,40.747348,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,NaN,Cliff St & Fulton St,NaN,7950,-74.005301,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,7883,40.708235,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,NaN,Rivington St & Ridge St,NaN,7951,-73.983299,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,7884,40.718502,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,NaN,W 49 St & 8 Ave,NaN,7952,-73.987882,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,7885,40.762272,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,NaN,Pershing Square North,NaN,7953,-73.977706,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,7886,40.751873,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,NaN,E 30 St & Park Ave S,NaN,7954,-73.983035,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,7887,40.744449,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,NaN,Sullivan St & Washington Sq,NaN,7955,-73.999061,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,7888,40.730477,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,NaN,W 42 St & 8 Ave,NaN,7956,-73.990985,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,7889,40.757570,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,NaN,Broadway & E 22 St,NaN,7957,-73.989551,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,7890,40.740343,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,NaN,1 Ave & E 15 St,NaN,7958,-73.981656,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,7891,40.732219,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,NaN,6 Ave & W 33 St,NaN,7959,-73.988484,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,7892,40.749013,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1451,NaN,9 Ave & W 22 St,NaN,7960,-74.001971,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,7893,40.745497,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1452,NaN,E 16 St & 5 Ave,NaN,7961,-73.992390,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,7894,40.737262,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1453,NaN,E 10 St & 5 Ave,NaN,7962,-73.995101,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,7895,40.733320,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1454,NaN,W 44 St & 5 Ave,NaN,7963,-73.980144,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,7896,40.755003,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,NaN,Spruce St & Nassau St,NaN,7964,-74.005524,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,7897,40.711464,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,NaN,W 13 St & 6 Ave,NaN,7965,-73.997044,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,7898,40.736494,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,NaN,W 22 St & 8 Ave,NaN,7966,-73.999154,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,7899,40.744751,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,NaN,Broadway & E 14 St,NaN,7967,-73.990741,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,7900,40.734546,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

In [138]:
#Trips started on the wwekends
query = ''' SELECT *, to_char(starttime, 'day')
            FROM fb55.citibike
            WHERE EXTRACT(dow FROM starttime) IN (0, 6)
            ; '''
table = get_data(query)
table

,the_geom,start_station_latitude,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,start_station_name,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,to_char
0,NaN,40.738274,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,E 20 St & Park Ave,107,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1,sunday
1,NaN,40.760094,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,W 43 St & 10 Ave,1088,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1,sunday
2,NaN,40.724537,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,E 6 St & Avenue B,2759,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1,sunday
3,NaN,40.732233,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,E 12 St & 3 Ave,4893,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1,sunday
4,NaN,40.756405,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,W 41 St & 8 Ave,6090,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0,sunday
5,NaN,40.735877,NaN,39894,-73.982050,296,2015-02-07 08:13:00+00,2015-02-07 08:18:00+00,461,E 20 St & 2 Ave,39876,435,W 21 St & 6 Ave,40.741740,-73.994156,17278,Subscriber,1987.0,1,saturday
6,NaN,40.769155,NaN,41512,-73.981918,600,2015-02-07 12:35:00+00,2015-02-07 12:45:00+00,499,Broadway & W 60 St,41501,523,W 38 St & 8 Ave,40.754666,-73.991382,15224,Subscriber,1959.0,1,saturday
7,NaN,40.722281,NaN,41595,-73.976687,1203,2015-02-07 12:47:00+00,2015-02-07 13:07:00+00,411,E 6 St & Avenue D,41585,428,E 3 St & 1 Ave,40.724677,-73.987834,21461,Subscriber,1968.0,1,saturday
8,NaN,40.727434,NaN,41806,-73.993790,520,2015-02-07 13:16:00+00,2015-02-07 13:25:00+00,229,Great Jones St,41796,168,W 18 St & 6 Ave,40.739713,-73.994564,14621,Subscriber,1964.0,1,saturday
9,NaN,40.736494,NaN,42316,-73.997044,487,2015-02-07 14:18:00+00,2015-02-07 14:26:00+00,345,W 13 St & 6 Ave,42307,509,9 Ave & W 22 St,40.745497,-74.001971,21362,Subscriber,1962.0,1,saturday
10,NaN,40.755942,NaN,42532,-74.002116,984,2015-02-07 14:42:00+00,2015-02-07 14:59:00+00,525,W 34 St & 11 Ave,42523,388,W 26 St & 10 Ave,40.749718,-74.002950,14549,Customer,NaN,0,saturday
11,NaN,40.756405,NaN,42915,-73.990026,621,2015-02-07 15:23:00+00,2015-02-07 15:33:00+00,477,W 41 St & 8 Ave,42906,509,9 Ave & W 22 St,40.745497,-74.001971,20216,Subscriber,1980.0,1,saturday
12,NaN,40.738177,NaN,44448,-73.977387,397,2015-02-07 18:03:00+00,2015-02-07 18:10:00+00,174,E 25 St & 1 Ave,44443,528,2 Ave & E 31 St,40.742909,-73.977061,15948,Subscriber,1991.0,1,saturday
13,NaN,40.734232,NaN,44744,-73.986923,352,2015-02-07 18:39:00+00,2015-02-07 18:45:00+00,297,E 15 St & 3 Ave,44739,507,E 25 St & 2 Ave,40.739126,-73.979738,15367,Subscriber,1978.0,1,saturday
14,NaN,40.750200,NaN,44834,-73.990931,1063,2015-02-07 18:53:00+00,2015-02-07 19:11:00+00,492,W 33 St & 7 Ave,44829,174,E 25 St & 1 Ave,40.738177,-73.977387,20702,Subscriber,1989.0,2,saturday
15,NaN,40.744023,NaN,45301,-73.976056,483,2015-02-07 19:59:00+00,2015-02-07 20:07:00+00,527,E 33 St & 2 Ave,45297,325,E 19 St & 3 Ave,40.736245,-73.984738,20296,Subscriber,1984.0,1,saturday
16,NaN,40.751551,NaN,0,-73.993934,447,2015-02-01 01:11:00+00,2015-02-01 01:19:00+00,490,8 Ave & W 33 St,93,479,9 Ave & W 45 St,40.760193,-73.991255,15185,Subscriber,1983.0,2,sunday
17,NaN,40.752996,NaN,1,-73.987216,277,2015-02-01 10:26:00+00,2015-02-01 10:30:00+00,533,Broadway & W 39 St,847,515,W 43 St & 10 Ave,40.760094,-73.994618,16452,Subscriber,1978.0,1,sunday
18,NaN,40.739713,NaN,2,-73.994564,526,2015-02-01 11:07:00+00,2015-02-01 11:16:00+00,168,W 18 St & 6 Ave,1180,521,8 Ave & W 31 St,40.750450,-73.994811,16741,Subscriber,1984.0,1,sunday
19,NaN,40.740343,NaN,3,-73.989551,502,2015-02-01 12:37:00+00,2015-02-01 12:46:00+00,402,Broadway & E 22 St,1971,459,W 20 St & 11 Ave,40.746745,-74.007756,16951,Subscriber,1983.0,1,sunday
20,NaN,40.763414,NaN,4,-73.996674,943,2015-02-01 12:46:00+00,2015-02-01 13:02:00+00,508,W 46 St & 11 Ave,2053,521,8 Ave & W 31 St,40.750450,-73.994811,16897,Subscriber,1966.0,2,sunday
21,NaN,40.727434,NaN,5,-73.993790,563,2015-02-01 12:54:00+00,2015-02-01 13:03:00+00,229,Great Jones St,2138,346,Bank St & Hudson St,40.736529,-74.006180,16722,Subscriber,1984.0,1,sunday
22,NaN,40.730386,NaN,6,-74.002150,519,2015-02-01 15:21:00+00,2015-02-01 15:29:00+00,368,Carmine St & 6 Ave,3591,503,E 20 St & Park Ave,40.738274,-73.987520,15196,Subscriber,1968.0,1,sunday
23,NaN,40.732233,NaN,7,-73.988900,500,2015-02-01 17:38:00+00,2015-02-01 17:47:00+00,483,E 12 St & 3 Ave,4983,435,W 21 St & 6 Ave,40.741740,-73.994156,19409,Customer,NaN,0,sunday
24,NaN,40.742388,NaN,8,-73.997262,374,2015-02-01 17:48:00+00,2015-02-01 17:55:00+00,334,W 20 St & 7 Ave,5067,497,E 17 St & Broadway,40.737050,-73.990093,21456,Customer,NaN,0,sunday
25,NaN,40.729538,NaN,9,-73.984267,420,2015-02-01 19:26:00+00,2015-02-01 19:33:00+00,326,E 11 St & 1 Ave,5748,527,E 33 St & 2 Ave,40.744023,-73.976056,14878,Subscriber,1988.0,1,sunday
26,NaN,40.744876,NaN,10,-73.995299,315,2015-02-01 21:34:00+00,2015-02-01 21:39:00+00,446,W 24 St & 7 Ave,6086,521,8 Ave & W 31 St,40.750450,-73.994811,16042,Subscriber,1956.0,1,sunday
27,NaN,40.750200,NaN,38,-73.990931,302,2015-02-07 06:33:00+00,2015-02-07 06:38:00+00,492,W 33 St & 7 Ave,39722,493,W 45 St & 6 Ave,40.756800,-73.982912,18472,Subscriber,1972.0,1,saturday
28,NaN,40.741776,NaN,49,-74.001497,424,2015-02-07 00:00:00+00,2015-02-07 00:07:00+00,116,W 17 St & 8 Ave,39412,489,10 Ave & W 28 St,40.750664,-74.001768,19071,Subscriber,1963.0,1,saturday
29,NaN,40.734232,NaN,50,-73.986923,439,2015-02-07 03:43:00+00,2015-02-07 03:50:00+00,297,E 15 St & 3 Ave,39651,527,E 33 St & 2 Ave,40.744023,-73.976056,21448,Customer,NaN,0,saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,NaN,40.729039,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,Washington Pl & Broadway,46171,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1,saturday
13202,NaN,40.716059,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,46172,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1,saturday
13203,NaN,40.714740,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,Warren St & Church St,46173,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1,saturday
13204,NaN,40.732233,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,E 12 St & 3 Ave,46174,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2,saturday
13205,NaN,40.683125,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,Dean St & 4 Ave,46175,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1,saturday
13206,NaN,40.716059,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,46176,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1,saturday
13207,NaN,40.740343,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,Broadway & E 22 St,46177,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1,saturday
13208,NaN,40.732241,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,Washington Pl & 6 Ave,46178,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2,saturday
13209,NaN,40.743943,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,E 31 St & 3 Ave,46179,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1,saturday
13210,NaN,40.769155,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,Broadway & W 60 St,46180,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1,saturday
13211,NaN,40.730386,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,Carmine St & 6 Ave,46181,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1,saturday
13212,NaN,40.759923,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,W 52 St & 5 Ave,46182,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1,saturday
13213,NaN,40.683125,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,Dean St & 4 Ave,46183,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1,saturday
13214,NaN,40.760193,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,9 Ave & W 45 St,46184,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1,saturday
13215,NaN,40.766953,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,46185,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1,saturday
13216,NaN,40.766953,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,46186,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1,saturday
13217,NaN,40.724055,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,Watts St & Greenwich St,46187,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1,saturday
13218,NaN,40.760660,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,W 51 St & 6 Ave,46188,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1,saturday
13219,NaN,40.734927,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,University Pl & E 14 St,46189,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1,saturday
13220,NaN,40.735324,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,W 11 St & 6 Ave,46190,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1,saturday
13221,NaN,40.741776,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,W 17 St & 8 Ave,46191,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2,saturday
13222,NaN,40.762699,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,W 47 St & 10 Ave,46192,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1,saturday
13223,NaN,40.714740,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,Warren St & Church St,46193,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1,saturday
13224,NaN,40.735877,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,E 20 St & 2 Ave,46194,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1,saturday
13225,NaN,40.750020,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,1 Ave & E 44 St,46195,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2,saturday
13226,NaN,40.743453,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,W 20 St & 8 Ave,46196,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1,saturday
13227,NaN,40.745168,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,5 Ave & E 29 St,46197,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2,saturday
13228,NaN,40.745168,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,5 Ave & E 29 St,46198,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1,saturday
13229,NaN,40.730386,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,Carmine St & 6 Ave,46199,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2,saturday
13230,NaN,40.726281,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,E 4 St & 2 Ave,46200,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2,saturday

In [142]:
#Average trip duration for trips started on the wwekends
query = ''' SELECT AVG(tripduration)
            FROM fb55.citibike
            WHERE EXTRACT(dow FROM starttime) IN (0, 6)
            ; '''
table = get_data(query)
table

          avg  Unnamed: 1
0  662.942181         NaN

In [139]:
#Trips started on the weekdays
query = ''' SELECT *, to_char(starttime, 'day')
            FROM fb55.citibike
            WHERE EXTRACT(dow FROM starttime) NOT IN (0, 6)
            ; '''
table = get_data(query)
table

,the_geom,start_station_latitude,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,start_station_name,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,to_char
0,NaN,40.745168,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,5 Ave & E 29 St,7367,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1,monday
1,NaN,40.716059,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,Allen St & Hester St,7712,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0,monday
2,NaN,40.748901,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,E 39 St & 3 Ave,8263,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1,tuesday
3,NaN,40.750664,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,10 Ave & W 28 St,9375,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2,tuesday
4,NaN,40.725029,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,E 2 St & 2 Ave,10411,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1,tuesday
5,NaN,40.750020,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,1 Ave & E 44 St,10867,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1,tuesday
6,NaN,40.756800,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,W 45 St & 6 Ave,11300,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1,tuesday
7,NaN,40.739713,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,W 18 St & 6 Ave,12114,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1,tuesday
8,NaN,40.760958,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,E 58 St & 3 Ave,12152,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1,tuesday
9,NaN,40.747659,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,E 33 St & 5 Ave,12500,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1,tuesday
10,NaN,40.749156,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,W 31 St & 7 Ave,13183,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2,wednesday
11,NaN,40.745168,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,5 Ave & E 29 St,13312,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1,wednesday
12,NaN,40.747804,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,E 39 St & 2 Ave,13702,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1,wednesday
13,NaN,40.750664,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,10 Ave & W 28 St,14172,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2,wednesday
14,NaN,40.757570,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,W 42 St & 8 Ave,14384,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1,wednesday
15,NaN,40.739445,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,E 27 St & 1 Ave,15113,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2,wednesday
16,NaN,40.727434,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,Great Jones St,15625,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1,wednesday
17,NaN,40.762272,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,W 49 St & 8 Ave,16481,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2,wednesday
18,NaN,40.742354,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,Broadway & W 24 St,16527,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1,wednesday
19,NaN,40.752062,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,E 40 St & 5 Ave,18880,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1,wednesday
20,NaN,40.737262,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,E 16 St & 5 Ave,19177,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1,wednesday
21,NaN,40.750977,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,Broadway & W 36 St,20425,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2,wednesday
22,NaN,40.750450,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,8 Ave & W 31 St,21228,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1,wednesday
23,NaN,40.756800,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,W 45 St & 6 Ave,23298,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1,thursday
24,NaN,40.744219,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,FDR Drive & E 35 St,23353,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1,thursday
25,NaN,40.749013,NaN,23425,-73.988484,683,2015-02-05 08:34:00+00,2015-02-05 08:46:00+00,505,6 Ave & W 33 St,23386,167,E 39 St & 3 Ave,40.748901,-73.976049,18744,Subscriber,1968.0,1,thursday
26,NaN,40.739445,NaN,24193,-73.976806,522,2015-02-05 09:14:00+00,2015-02-05 09:23:00+00,2012,E 27 St & 1 Ave,24155,455,1 Ave & E 44 St,40.750020,-73.969053,21690,Subscriber,1977.0,2,thursday
27,NaN,40.760875,NaN,24660,-74.002777,946,2015-02-05 09:51:00+00,2015-02-05 10:07:00+00,514,12 Ave & W 40 St,24623,377,6 Ave & Canal St,40.722438,-74.005664,21248,Subscriber,1991.0,1,thursday
28,NaN,40.764618,NaN,24831,-73.987895,482,2015-02-05 10:10:00+00,2015-02-05 10:18:00+00,449,W 52 St & 9 Ave,24794,493,W 45 St & 6 Ave,40.756800,-73.982912,17842,Subscriber,1982.0,1,thursday
29,NaN,40.751551,NaN,25003,-73.993934,592,2015-02-05 10:35:00+00,2015-02-05 10:45:00+00,490,8 Ave & W 33 St,24966,484,W 44 St & 5 Ave,40.755003,-73.980144,16056,Subscriber,1962.0,1,thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32939,NaN,40.724910,NaN,39406,-74.001547,834,2015-02-06 23:47:00+00,2015-02-07 00:01:00+00,348,W Broadway & Spring St,39380,504,1 Ave & E 15 St,40.732219,-73.981656,21171,Subscriber,1989.0,1,friday
32940,NaN,40.755136,NaN,39407,-73.986580,321,2015-02-06 23:47:00+00,2015-02-06 23:52:00+00,465,Broadway & W 41 St,39381,492,W 33 St & 7 Ave,40.750200,-73.990931,18249,Subscriber,1957.0,1,friday
32941,NaN,40.754666,NaN,39408,-73.991382,449,2015-02-06 23:48:00+00,2015-02-06 23:55:00+00,523,W 38 St & 8 Ave,39382,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,19146,Subscriber,1972.0,2,friday
32942,NaN,40.745497,NaN,39409,-74.001971,120,2015-02-06 23:48:00+00,2015-02-06 23:50:00+00,509,9 Ave & W 22 St,39383,434,9 Ave & W 18 St,40.743174,-74.003664,15313,Subscriber,1984.0,1,friday
32943,NaN,40.686919,NaN,39410,-73.976682,977,2015-02-06 23:49:00+00,2015-02-07 00:05:00+00,274,Lafayette Ave & Fort Greene Pl,39384,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,18469,Subscriber,1979.0,1,friday
32944,NaN,40.740343,NaN,39411,-73.989551,501,2015-02-06 23:49:00+00,2015-02-06 23:57:00+00,402,Broadway & E 22 St,39385,403,E 2 St & 2 Ave,40.725029,-73.990697,18929,Subscriber,1966.0,1,friday
32945,NaN,40.736502,NaN,39412,-73.978095,441,2015-02-06 23:50:00+00,2015-02-06 23:58:00+00,545,E 23 St & 1 Ave,39386,402,Broadway & E 22 St,40.740343,-73.989551,19009,Subscriber,1987.0,1,friday
32946,NaN,40.736245,NaN,39413,-73.984738,388,2015-02-06 23:50:00+00,2015-02-06 23:57:00+00,325,E 19 St & 3 Ave,39387,438,St Marks Pl & 1 Ave,40.727791,-73.985649,17102,Subscriber,1984.0,1,friday
32947,NaN,40.740343,NaN,39414,-73.989551,284,2015-02-06 23:51:00+00,2015-02-06 23:55:00+00,402,Broadway & E 22 St,39389,472,E 32 St & Park Ave,40.745712,-73.981948,15377,Subscriber,1989.0,1,friday
32948,NaN,40.735238,NaN,39415,-74.000271,271,2015-02-06 23:51:00+00,2015-02-06 23:56:00+00,383,Greenwich Ave & Charles St,39390,435,W 21 St & 6 Ave,40.741740,-73.994156,17844,Subscriber,1984.0,1,friday
32949,NaN,40.716059,NaN,39416,-73.991908,572,2015-02-06 23:52:00+00,2015-02-07 00:01:00+00,361,Allen St & Hester St,39391,438,St Marks Pl & 1 Ave,40.727791,-73.985649,21040,Subscriber,1987.0,1,friday
32950,NaN,40.738274,NaN,39417,-73.987520,498,2015-02-06 23:53:00+00,2015-02-07 00:01:00+00,503,E 20 St & Park Ave,39392,380,W 4 St & 7 Ave S,40.734011,-74.002939,19480,Subscriber,1981.0,1,friday
32951,NaN,40.689888,NaN,39418,-73.981013,425,2015-02-06 23:53:00+00,2015-02-07 00:00:00+00,324,DeKalb Ave & Hudson Ave,39393,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,21130,Subscriber,1978.0,1,friday
32952,NaN,40.737262,NaN,39419,-73.992390,267,2015-02-06 23:53:00+00,2015-02-06 23:58:00+00,496,E 16 St & 5 Ave,39394,435,W 21 St & 6 Ave,40.741740,-73.994156,16934,Subscriber,1983.0,1,friday
32953,NaN,40.755003,NaN,39420,-73.980144,165,2015-02-06 23:53:00+00,2015-02-06 23:56:00+00,484,W 44 St & 5 Ave,39395,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20745,Subscriber,1968.0,1,friday
32954,NaN,40.759345,NaN,39421,-73.967597,751,2015-02-06 23:54:00+00,2015-02-07 00:06:00+00,464,E 56 St & 3 Ave,39396,507,E 25 St & 2 Ave,40.739126,-73.979738,16811,Subscriber,1969.0,1,friday
32955,NaN,40.722174,NaN,39422,-73.983688,747,2015-02-06 23:54:00+00,2015-02-07 00:07:00+00,301,E 2 St & Avenue B,39397,476,E 31 St & 3 Ave,40.743943,-73.979661,21259,Subscriber,1980.0,1,friday
32956,NaN,40.726281,NaN,39423,-73.989780,511,2015-02-06 23:54:00+00,2015-02-07 00:03:00+00,439,E 4 St & 2 Ave,39398,375,Mercer St & Bleecker St,40.726795,-73.996951,15618,Subscriber,1993.0,1,friday
32957,NaN,40.737050,NaN,39424,-73.990093,489,2015-02-06 23:54:00+00,2015-02-07 00:02:00+00,497,E 17 St & Broadway,39399,486,Broadway & W 29 St,40.746201,-73.988557,17370,Subscriber,1959.0,1,friday
32958,NaN,40.732219,NaN,39425,-73.981656,1183,2015-02-06 23:55:00+00,2015-02-07 00:14:00+00,504,1 Ave & E 15 St,39400,295,Pike St & E Broadway,40.714067,-73.992939,19430,Subscriber,1984.0,1,friday
32959,NaN,40.760660,NaN,39426,-73.980420,649,2015-02-06 23:55:00+00,2015-02-07 00:06:00+00,510,W 51 St & 6 Ave,39401,512,W 29 St & 9 Ave,40.750073,-73.998393,18303,Subscriber,1986.0,1,friday
32960,NaN,40.735324,NaN,39427,-73.998004,377,2015-02-06 23:55:00+00,2015-02-07 00:01:00+00,254,W 11 St & 6 Ave,39402,453,W 22 St & 8 Ave,40.744751,-73.999154,20360,Subscriber,1990.0,1,friday
32961,NaN,40.743453,NaN,39428,-74.000040,485,2015-02-06 23:56:00+00,2015-02-07 00:04:00+00,470,W 20 St & 8 Ave,39403,491,E 24 St & Park Ave S,40.740964,-73.986022,21564,Subscriber,1983.0,1,friday
32962,NaN,40.739355,NaN,39429,-73.999318,298,2015-02-06 23:56:00+00,2015-02-07 00:01:00+00,482,W 15 St & 7 Ave,39404,368,Carmine St & 6 Ave,40.730386,-74.002150,21575,Subscriber,1983.0,1,friday
32963,NaN,40.735877,NaN,39430,-73.982050,648,2015-02-06 23:57:00+00,2015-02-07 00:07:00+00,461,E 20 St & 2 Ave,39405,346,Bank St & Hudson St,40.736529,-74.006180,21014,Subscriber,1983.0,1,friday
32964,NaN,40.732264,NaN,39431,-73.998522,1261,2015-02-06 23:58:00+00,2015-02-07 00:19:00+00,252,MacDougal St & Washington Sq,39406,450,W 49 St & 8 Ave,40.762272,-73.987882,17797,Subscriber,1989.0,2,friday
32965,NaN,40.689888,NaN,39432,-73.981013,331,2015-02-06 23:58:00+00,2015-02-07 00:04:00+00,324,DeKalb Ave & Hudson Ave,39407,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,16975,Subscriber,1984.0,1,friday
32966,NaN,40.736494,NaN,39433,-73.997044,629,2015-02-06 23:59:00+00,2015-02-07 00:10:00+00,345,W 13 St & 6 Ave,39408,236,St Marks Pl & 2 Ave,40.728419,-73.987140,19820,Subscriber,1982.0,1,friday
32967,NaN,40.717290,NaN,39434,-73.996375,492,2015-02-06 23:59:00+00,2015-02-07 00:07:00+00,263,Elizabeth St & Hester St,39409,502,Henry St & Grand St,40.714215,-73.981346,19487,Subscriber,1966.0,1,friday
32968,NaN,40.720196,NaN,39435,-73.989978,329,2015-02-06 23:59:00+00,2015-02-07 00:04:00+00,401,Allen St & Rivington St,39410,301,E 2 St & Avenue B,40.722174,-73.983688,15426,Subscriber,1987.0,1,friday

In [143]:
#Average trip duration for trips started on the weekdays
query = ''' SELECT AVG(tripduration)
            FROM fb55.citibike
            WHERE EXTRACT(dow FROM starttime) NOT IN (0, 6)
            ; '''
table = get_data(query)
table

          avg  Unnamed: 1
0  681.052292         NaN

In [168]:
#Average trip duration for trips started on the weekdays
query = ''' SELECT start_station_id, start_station_latitude, start_station_longitude
            FROM fb55.citibike
            GROUP BY start_station_id, start_station_longitude, start_station_latitude
            ORDER BY start_station_id
            ; '''
table = get_data(query)
table

     start_station_id  start_station_latitude  start_station_longitude
0                  72               40.767272               -73.993929
1                  79               40.719116               -74.006667
2                  82               40.711174               -74.000165
3                  83               40.683826               -73.976323
4                 116               40.741776               -74.001497
5                 119               40.696089               -73.978034
6                 120               40.686768               -73.959282
7                 127               40.731724               -74.006744
8                 128               40.727103               -74.002971
9                 137               40.761628               -73.972924
10                143               40.692395               -73.993379
11                144               40.698399               -73.980689
12                146               40.716250               -74.009106
13                147               40.715422               -74.011220
14                150               40.720874               -73.980858
15                151               40.721816               -73.997203
16                152               40.714740               -74.009106
17                153               40.752062               -73.981632
18                157               40.690893               -73.996123
19                160               40.748238               -73.978311
20                161               40.729170               -73.998102
21                164               40.753231               -73.970325
22                167               40.748901               -73.976049
23                168               40.739713               -73.994564
24                173               40.760647               -73.984427
25                174               40.738177               -73.977387
26                195               40.709056               -74.010434
27                212               40.743349               -74.006818
28                216               40.700379               -73.995481
29                217               40.702772               -73.993836
..                ...                     ...                      ...
297               525               40.755942               -74.002116
298               526               40.747659               -73.984907
299               527               40.744023               -73.976056
300               528               40.742909               -73.977061
301               529               40.757570               -73.990985
302               530               40.771522               -73.990541
303               531               40.718939               -73.992663
304               532               40.710451               -73.960876
305               533               40.752996               -73.987216
306               534               40.702551               -74.012723
307               537               40.740259               -73.984092
308               538               40.756660               -73.976684
309               539               40.715348               -73.960241
310               545               40.736502               -73.978095
311               546               40.744449               -73.983035
312              2000               40.702551               -73.989402
313              2001               40.699773               -73.979927
314              2002               40.716887               -73.963198
315              2004               40.724399               -74.004704
316              2005               40.705312               -73.971001
317              2006               40.765909               -73.976342
318              2008               40.705693               -74.016777
319              2009               40.711174               -73.996826
320              2010               40.721655               -74.002347
321              2012               40.739445               -73.976806
322              2017               40.750224               -73.971214
323              2021               40.759291               -73.988597
324              2022               40.758491               -73.959206
325              2023               40.759681               -73.970314
326              3002               40.711512               -74.015756

[327 rows x 3 columns]

In [173]:
#Number of trips started per station
query = ''' SELECT start_station_id, COUNT(start_station_id) as trip_count
            FROM fb55.citibike
            GROUP BY start_station_id
            ORDER BY start_station_id
            ; '''
table = get_data(query)
table

     start_station_id  trip_count
0                  72         114
1                  79          71
2                  82          49
3                  83          36
4                 116         288
5                 119          19
6                 120          17
7                 127         209
8                 128         247
9                 137          97
10                143          29
11                144           7
12                146         101
13                147         200
14                150         111
15                151         288
16                152          71
17                153         298
18                157          45
19                160         138
20                161         203
21                164         130
22                167         254
23                168         327
24                173         213
25                174         209
26                195         137
27                212         186
28                216          12
29                217          14
..                ...         ...
297               525          53
298               526         213
299               527         319
300               528         302
301               529         221
302               530         120
303               531         212
304               532          50
305               533         196
306               534          70
307               537         372
308               538         153
309               539          54
310               545         229
311               546         227
312              2000          50
313              2001           4
314              2002          45
315              2004         112
316              2005           7
317              2006          79
318              2008          86
319              2009         107
320              2010          76
321              2012         256
322              2017          86
323              2021         141
324              2022          96
325              2023          91
326              3002         184

[327 rows x 2 columns]

In [186]:
#Number of trips started per station for stations within 500m of Time Square
query = ''' SELECT start_station_id, COUNT(start_station_id) as trip_count
            FROM fb55.citibike
            WHERE acos(sin(40.7577*(pi()/180)) * sin(start_station_latitude*(pi()/180)) + cos(40.7577*(pi()/180)) * cos(start_station_latitude*(pi()/180)) * cos(start_station_longitude*(pi()/180) - (-73.9857*(pi()/180)))) * 6371 <= 0.5
            GROUP BY start_station_id
            ORDER BY start_station_id
            ; '''
table = get_data(query)
table

   start_station_id  trip_count
0               173         213
1               465         251
2               477         507
3               493         141
4               524         112
5               529         221
6              2021         141

In [230]:
#The station that had the longest average trip duration during weekends and within 500m of TimeSquare
query = ''' SELECT start_station_id, AVG(tripduration) as average
            FROM fb55.citibike
            WHERE EXTRACT(dow FROM starttime) IN (0, 6) AND acos(sin(40.7577*(pi()/180)) * sin(start_station_latitude*(pi()/180)) + cos(40.7577*(pi()/180)) * cos(start_station_latitude*(pi()/180)) * cos(start_station_longitude*(pi()/180) - (-73.9857*(pi()/180)))) * 6371 <= 0.5
            GROUP BY start_station_id
            ORDER BY average DESC
            LIMIT(1)
            ; '''
table = get_data(query)
table

   start_station_id      average
0               173  1010.104167

In [239]:
#EXTRA CREDIT
query = ''' SELECT start_station_id, COUNT(cartodb_id), start_station_name

            FROM fb55.citibike
            WHERE tripduration/3600 <2 AND acos(sin(40.7577*(pi()/180)) * sin(start_station_latitude*(pi()/180)) + cos(40.7577*(pi()/180)) * cos(start_station_latitude*(pi()/180)) * cos(start_station_longitude*(pi()/180) - (-73.9857*(pi()/180)))) * 6371 <= 0.5
            GROUP BY start_station_id, start_station_name

            ; '''
table = get_data(query)
table

   start_station_id  count  start_station_name
0               465    251  Broadway & W 41 St
1               477    507     W 41 St & 8 Ave
2               493    141     W 45 St & 6 Ave
3               173    212  Broadway & W 49 St
4              2021    141     W 45 St & 8 Ave
5               529    221     W 42 St & 8 Ave
6               524    112     W 43 St & 6 Ave